:root {
    --primary-color: #fbfbf9;
    --text-color: #1a1a1a;
    --spacing-xsmall: 10px;
    --spacing-small: 20px;
    --spacing-medium: 40px;
    --spacing-large: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

a :visited{
    text-decoration: none;
}