.projects-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--spacing-medium);
}

.project-card {
    align-content: center;
}

.project-card img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    display: block;
}

.project-card p {
    height: auto;
    text-align: center;
    margin-top: var(--spacing-xsmall);
    font-size: medium;
}

/* Responsive configs */
@media (min-width: 512px) {
    .projects-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .projects-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}