nav {
    font-size: large;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
}

.nav-item {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}